        html{background-color: #F1FAEE;}
        body{margin: 0px;font-family: calibri;}
        
        header{background-color: #1D3557; margin: 0; background-image: url(../images/hero.png); background-repeat: no-repeat; background-position: center;background-size: cover}
        #heroImg{color: #F1FAEE; text-align: center;height: 20em;;background-position: center;opacity: 100%;}
        #heroImg h1{padding-top: 4em;font-size: 2.3em;opacity: 100%; text-shadow:0.1em 0.05em 0.1em #000000; font-family: "Audiowide", sans-serif;}
        
        nav{display: grid; grid-template-columns: repeat(12, 8.33%); height: 3.5em;}
        #l1{grid-column: 2/3;}
        #l2{grid-column: 3/4;}
        #l3{grid-column: 4/5;}
        #l4{grid-column: 5/6;}
        #l5{grid-column: 6/7;}
        #l6{grid-column: 7/8;}
        #l7{grid-column: 8/10;}


        nav p a{padding-left: 1em; padding-right: 1em; font-size: 1em; color: #1D3557;width: 100%;padding-bottom: 1em;height: 1.2em;}/*width, font style not working*/
        nav p a:hover{background-color: #457B9D; color: #A8DADC; background-image: linear-gradient(#A8DADC, #457B9D)}
        nav{background-color: #A8DADC; height: 3.2em;}
        nav img{float: left;padding: 1em;}
        nav a{text-decoration: none; }
        nav a:hover{text-decoration: underline;color: #F1FAEE;}

        
        h2{text-align: center;color: #1D3557; font-size: 2em;}

form{background-color: #A8DADC; padding: 2em; margin: 1em; display: grid; grid-template-columns: 33% 33% 33%;border-style:ridge}
.conDet{grid-column: 1/2;}
form input{background-color: #F1FAEE;}
form label {width:12em; float:left; display:block;}
#map{grid-column: 2/3; float: left; grid-row: 2/7;}
form h3{grid-column: 2/3; grid-row: 1/2;font-family: "Audiowide", sans-serif; color: #1D3557;}
#terms{margin: 2em; margin-left: 0;}
#details{grid-column: 1/2;}
#submit{padding: 1em;width: 7em;border-radius: 0.4em;font-family: "Audiowide", sans-serif;}
#submit:hover{background-color: #1D3557; color:#F1FAEE;}
button{padding: 1em;width: 10em;border-radius: 0.4em;font-family: "Audiowide", sans-serif;background-color: #F1FAEE;}
button:hover{background-color: #1D3557; color:#F1FAEE;}
#loc{grid-column: 3/4; grid-row: 1/7;}

        
        footer{background-color:#A8DADC; display: grid; grid-template-columns: 33% 33% 33%;}
        footer #footerImg {grid-column: 2/3;display: block;margin-left: auto; margin-right: auto; margin-top: 2em; margin-bottom: 2em;}
        #copy{grid-row: 2/3;grid-column: 2/3; text-align: center;}
        .socmed2 a{display: inline-block;  float: right;}
        #socialMeds{grid-row: 2/3;grid-column: 3/4;}
        .socmed2 a:hover{opacity: 60%;}
        #footerEmail{grid-row: 2/3;grid-column: 1/2; float: left;margin-left: 2em;}
        